aiogram
yt-dlp
aiosqlite
httpx
curl_cffi
yt-dlp[default,curl-cffi]
brotli
certifi
cffi
charset-normalizer
idna
markdown-it-py
mdurl
mutagen
pip
pycparser
pycryptodome
Pygments
requests
rich
urllib3
websockets
yt-dlp-ejs
requests-toolbelt
